@charset "UTF-8";

/*
*{
  margin:0
}
*/



h1 {
  font-family:  'Assistant', sans-serif;
}

a{
  text-decoration: none;
  color: #000000;
}

body {
  height: 100%;
  font-family:  'Assistant', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

hr {
  width: 50%;
}

.side-menu{
  font-size: 15pt;
  box-sizing: border-box;
  width: 50%; /* not sure if needed yet */
  border: 5px solid red;
  float: left;
  text-align: center;

}

.photo-collage-thumbnails{
  /*
  box-sizing:content-box;
  border: 5px solid red;
  float: center;
  */
  text-align: center;
  margin:0;
  list-style-type: none;

  /* code below allows side by side images */
  padding-top: 5px;
}


.img__wrap {
  position: relative;
  height: 300px;
  width: 300px;

  /* code below allows side by side images */
  float: left;
  padding: 2px; /* overall padding between each image */
}

.photo__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .photo__description {
  visibility: visible;
  opacity: 1;
}
